[submodule "garglk"]
	path = packages/garglk
	url = ../../garglk/garglk.git
[submodule "git"]
	path = packages/git
	url = ../../DavidKinder/Git.git
[submodule "glulxe"]
	path = packages/glulxe
	url = ../../erkyrath/glulxe.git
[submodule "hugo"]
	path = packages/hugo
	url = ../../hugoif/hugo-unix.git
[submodule "zlib"]
	path = packages/zlib
	url = https://github.com/madler/zlib.git
